*{
	margin-top:0;
	margin-bottom: 0;
	margin-left:0;
	margin-right: 0;
	font-family: 'Roboto Mono', monospace;
}
#main-header{
	padding: 0;
}

.logo{
	width: 100px;
	margin-top:16px;
	margin-bottom:16px;
	margin-left: 50px;
}
.navbar-list{
	margin-top: 16px;
	margin-bottom: 16px;
	margin-right: 200px;
}
.navbar-list .list-item{
	display: inline;
	padding-top: 16px;
	padding-bottom: 16px;
	vertical-align: middle;
}
.navbar-list .list-item a{
	text-decoration: none;
	padding-top: 16px;
	padding-bottom: 16px;
	padding-right: 12px;
	padding-left: 12px;
	margin:0;
	color:#9504d8;
	font-size: 24px;
}
.navbar-list .list-item a:hover{
	border-bottom-color: #9504d8;
	border-bottom: 3px solid;

}

#jumbo{
	background-color: #2b003f;
	padding-top:100px;
	padding-bottom: 100px;
	color:#fff;
}
.jumbo-one{
	font-size: 72px;
}
.display{
	margin-top:16px;
	margin-bottom: 16px;
	display: none;
}
#box-amount{
	font-size: 30px;
}
#box-amount #from{
	color: #bbb;
	font-size: 24px;
}
#box-amount #to{
	font-size: 40px;
}
#currency{
	padding-bottom: 8px;
	padding-top: 8px;
	font-size: 14px;
}
#unit-rate{
	font-size: 10px;
}
input{
	height: 32px;
	padding-left: 8px;
	padding-right: 8px;
	font-size: 16px;
	border:none;
	border-radius: 1px;
	border-bottom: 3px solid #9504d8;
}
select{
	width: 250px;
	height: 36px;
	border:none;
	border-radius: 1px;
	border-bottom: 3px solid #9504d8;
}
input:hover, select:hover{
	border-bottom: 3px solid #07ba81;	
}
#btn{
	height: 36px;
	width: 50px;
	background-color: #9504d8;
	color:#fff;
	border: none;
	border-radius: 1px;
	font-weight: bold;
	font-size: 16px;
}
#btn:hover{
	color:#9504d8;
	background-color: #fff;
	border-left: 3px solid #07ba81;
}
.form-div{
	margin-top: 24px;
	margin-bottom: 16px;
}
#btnAdd{
	position: fixed;
	top: 0;
	right: 0;
	background-color: #2b003f;
	color: #fff;
	border-color: none;
	border-style: none;
	border-bottom-left-radius:35px; 
	font-style: italic;
	font-size: 16px;
	padding: 12px;
	text-align: center;
}
#btnAdd:hover{
	background-color: #fff;
	color: #2b003f;
	border-color: #2b003f;
	border-style: solid;
	border-right: 2px;
	border-top: 2px;
}
footer{
	padding-top: 12px;
	padding-bottom: 12px;
	color: #2b003f;
}
a{
	text-decoration: none;
	color:#07ba81;
}

@media only screen and (max-width: 1023px) {
	.navbar-list{
		margin-top: 16px;
		margin-bottom: 16px;
		margin-right: 0;
	}
}

@media only screen and (max-width: 800px) {
	.jumbo-one{
		font-size: 64px;
	}
}